<settings>
	<servers>
		<server>
			<id>automic-ignite-repo</id>
			<username>deployment</username>
			<password>ventum2011@</password>
		</server>
		<server>
			<id>automic-ignite-repo-snapshots</id>
			<username>deployment</username>
			<password>ventum2011@</password>
		</server>
	</servers>
</settings>